.list_title {
  margin: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.card {
  margin: 2.4rem;
  margin-bottom: 1rem;
}

.request__details {
  display: flex;
  width: 20rem;
  justify-content: space-between;
}
