<!-- <div>
  {{ title }}
</div>
<div>
  {{ emailLabel }}
</div>

<label translate="login.password"></label>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<button
  mat-raised-button
  color="primary"
  matBadge="8"
  matBadgePosition="before"
  matBadgeColor="accent"
>
  Action
</button>

<span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<router-outlet></router-outlet>
<button md-button>foo</button>

 -->
<!-- <mat-sidenav-container> -->
<!-- <p> -->
<!-- <div dir="ltr"> -->
<!-- <mat-toolbar color="primary"> -->
<!-- <span>CRM</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container> -->
<!-- <mat-sidenav class="mat-elevation-z8"> -->

<!-- <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
    class="mat-elevation-z8"
  >
    <button
      mat-button
      aria-label="Example icon-button with menu icon"
      class="menu-button"
      (click)="toggle(sidenav)"
    >
      <mat-icon>menu</mat-icon>
      <span></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="footer" #footer>
  I am footer !!!!
</div> -->

<!-- </div> -->

<div>side menu</div>
