<div class="container">
  <img alt="logo" src="./assets/svg/logo.svg" class="container__logo" />
  <mat-card>
    <form
      [formGroup]="loginForm"
      class="container__form"
      (ngSubmit)="login()"
      id="loginForm"
    >
      <mat-form-field>
        <mat-label>{{ 'auth.email' | translate }}</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          required
          formControlName="email"
        />
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          {{ getEmailErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'auth.password' | translate }}</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error
          *ngIf="
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched) &&
            loginForm.get('password')?.errors?.required
          "
        >
          {{ 'errors.required' | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary">
        {{ 'auth.login' | translate }}
      </button>
    </form>
  </mat-card>
</div>
